@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4 mb-3">Welcome to Online Library</h2>
    <h6 class="mb-4 text-muted">"A book is a film that takes place in the mind of the reader."</h6>
    <a asp-controller="User" asp-action="Login" class="btn btn-primary btn-lg mt-3">Start Your Journey</a>
</div>
