@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-center">@ViewData["Title"]</h1>
<br />
<p class="lead">We value your privacy and are committed to protecting your personal information. We collect only the necessary data to improve your experience and provide our services. Your information is never shared with third parties unless required by law.</p>
